services:
  rfidtriggermanager:
    container_name: rfidtriggermanager
    image: rfidtriggermanager:latest
    privileged: true
    ports:
      - "1337:1337"
    environment:
      - PUID=1000
      - PGID=1000
    devices:
      - /dev/snd:/dev/snd
    group_add:
      - "audio"
    volumes:
      - ./vol/appdata:/app/appdata
      - /proc/bus/input:/host_proc/bus/input:ro
      - /sys/class/input:/sys/class/input:ro

