services:
  rfidtriggermanager:
    container_name: rfidtriggermanager
    image: ghcr.io/spilehx/rfid-trigger-manager:main
    privileged: true
    user: "1000:1000"

    ports:
      - "1337:1337"        
    environment:
      - PUID=1000
      - PGID=1000
      - PULSE_SERVER=unix:${XDG_RUNTIME_DIR}/pulse/native
    devices:
      - /dev/snd:/dev/snd
    group_add:
      - audio
    volumes:
      - ../rfidtriggermanager-appdata:/app/appdata
      - /proc/bus/input:/host_proc/bus/input:ro
      - /sys/class/input:/sys/class/input:ro
      - "$HOME/.config/pulse/cookie:/root/.config/pulse/cookie"
      - "${XDG_RUNTIME_DIR}/pulse/native:${XDG_RUNTIME_DIR}/pulse/native"
