<module>
    <components>
        <component class="spilehx.rfidtriggeradmin.page.components.tableviewitemrenderers.StaticItemRenderer" />
        <component class="spilehx.rfidtriggeradmin.page.components.tableviewitemrenderers.NameItemRenderer" />
        <component class="spilehx.rfidtriggeradmin.page.components.tableviewitemrenderers.ActionItemRenderer" />
        <component class="spilehx.rfidtriggeradmin.page.components.tableviewitemrenderers.CommandItemRenderer" />
        <component class="spilehx.rfidtriggeradmin.page.components.tableviewitemrenderers.proto.CheckItemRenderer" />
        <component class="spilehx.rfidtriggeradmin.page.components.tableviewitemrenderers.TriggerItemRenderer" />
    </components>
</module>
